<!-- .header-content -->
<section id="header-content">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6 col-md-7 col-lg-6">
              <div class="header-text" >
                    <div class="header-heading-title">
                        <h4>Já pensou em ter a melhor consultoria em marketing,</h4>
                        <h1>direto no seu celular?</h1>
                    </div>
                    <p>A PopContent vai oferecer por tempo limitado consultoria de marketing pelo WhatsApp.
                      Você quer aumentar as vendas da sua empresa e fazer com que ela ganhe mais visibilidade?
                      Não perca tempo, se cadastre e fale com nossos consultores.
                      Os primeiros 500 que realizarem o cadastro ganharão a consultoria totalmente de graça.</p>
                    <div class="btn-section">
                        <a href="#whats-app" class="btn-link smooth-scroll">Saiba mais</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-5 col-lg-offset-1">
                <div class="header-form-wrapper">
                    <div class="header-form-heading">
                        <h4><i class="fa fa-pencil"></i> Cadastre-se</h4>
                        <p>Não perca tempo, se cadastre e fale com
                          nossos consultores.</p>
                    </div>
                    <form id="form-signup" method="post" action="#" class="header-form">
                      <div class="submit-status"></div> <!-- submit status -->
                        <input type="text" name="lead[name]" id="lead_name" placeholder="Nome Completo" />
                        <input type="text" name="lead[email]" id="lead_email" placeholder="E-mail *" />
                        <input type="submit" name="submit" value="Cadastrar" class="btn-custom btn-medium" />
                        <p class="text-desc"><a href="#">Política de Privacidade</a> &nbsp;-&nbsp; <a href="#">Termos & Condições</a></p>
                    </form>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</section>
<!-- .header-content end -->

<!-- #e-book -->
<section id="e-book" class="bg-grey padding-top60 no-border-top">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
          <h2>Como bombar suas vendas usando Marketing Simplificado</h2>
            <p>Saiba finalmente o real conceito de marketing!</p>
        </div>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6 col-md-5 margin-bottom40">
              <figure><img src="/assets/content/landing/pop-content-ebook.png" alt="ebook"></figure>
            </div>

            <div class="col-sm-6 col-md-7 col-lg-6 col-lg-offset-1 margin-bottom40">
              <div class="post-heading-left">
                  <h2><strong>Ótimo suporte.</strong> Nós te ajudamos!</h2>
                    <p>O nosso serviço ao cliente não vai deixá-lo sozinho</p>
                </div>
                <p>Você já ouviu falar de  técnicas de marketing, mas não tem
                ideia de como elas funcionam? Quer aprender o passo a passo para
                que a sua marca ganhe visibilidade na internet? O nosso eBook foi
                feito pensando em você. Com um texto simplificado, dicas práticas
                para descomplicar o marketing e ajudar a aumentar  suas vendas.</p>

                <p>Escrito por um time de consultores experts em Marketing,
                neste eBook  você vai aprender:</p>
                <div class="list-icon no-margin-bottom">
                    <ul>
                        <li><i class="fa fa-check-square-o"></i> O que é Marketing</li>
                        <li><i class="fa fa-check-square-o"></i> Como conhecer o seu público para impulsionar o seu empreendimento</li>
                        <li><i class="fa fa-check-square-o"></i> O que é Marketing Digital e como ele pode ajudar a sua empresa a crescer</li>
                        <li><i class="fa fa-check-square-o"></i> Como fazer marketing nas redes sociais e com blog</li>
                    </ul>
                </div>
                <div class="subscribe-box">
                  <p>Inscreva-se e receba nosso ebook.</p>
                  <a data-target="#modal-signup" data-toggle="modal" href="#" class="btn-custom btn-large"> Cadastre-se</a>
                </div>
            </div>
        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->
</section>
<!-- #e-book end -->

<!-- #social-media start -->
<section id="social-media" class="wrap-container6020">

  <!-- .container -->
  <div class="container">

    <div class="post-heading-center">
      <h2>Nos siga nas Redes Sociais</h2>
        <p>Receba nosso conteúdo!</p>
    </div>

    <div class="row socials social-links circle animated-effect-1">
      <div class="col-sm-4 facebook"> <!-- 1 -->
        <a href="https://www.facebook.com/popcontentblog/" title="Facebook"><i class="fa fa-facebook"></i></a>
      </div>

      <div class="col-sm-4 rss"> <!-- 2 -->
        <a href="http://popcontent.blog.br/" title="Blog"><i class="fa fa-rss" aria-hidden="true"></i></a>
      </div>

      <div class="col-sm-4 instagram"> <!-- 3 -->
        <a href="https://www.instagram.com/popcontent/" title="Instagram"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <!-- .container end -->
</section>
<!-- #social-media end -->

<!-- #e-book -->
<section id="whats-app" class="bg-grey padding-top60">

    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">

            <div class="col-md-6 col-lg-5 margin-bottom20">
              <div class="post-heading-left top-heading-desc margin-bottom20">
                <p>Facilitando a vida do empreendedor</p>
                    <h2>Consultoria <strong>gratuita</strong> em Marketing Digital</h2>
                </div>
                <p>Com o objetivo de facilitar a vida dos empreendedores
                  vamos oferecer por tempo limitado consultoria pelo WhatsApp.</p>
                <div class="row">
                  <div class="col-sm-6">
                      <div class="affa_col_text">
                            <h4>É fácil!</h4>
                            <p>Cadastre-se no site e nós enviaremos o número para
                            que quando você estiver disponível entre em contato conosco.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="affa_col_text">
                            <h4>É por tempo limitado!</h4>
                            <p>Não perca tempo! Apenas os primeiros 500 inscritos na página receberão a consultoria! Aproveite!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                      <div class="affa_col_text">
                            <h4>É personalizado</h4>
                            <p>CA nossa consultoria é feita especialmente para cada
                            cliente, com uma análise individual das necessidades de cada um.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="affa_col_text">
                            <h4>É especializado</h4>
                            <p>Quando um especialista conduz uma estratégia, em
                            qualquer que seja a área, a chance de sucesso é muito
                            maior, não é verdade?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-0 col-lg-offset-1">
                <figure id="whats-app-logo"><img src="/assets/content/landing/Whatsapp-logo-vector.svg" alt="whatsapp-logo"></figure>
                <div class="subscribe-box margin-bottom30">
                  <p>Seja um dos primeiros 500 inscritos e ganhe uma consultoria gratuita</p>
                  <a data-target="#modal-signup" data-toggle="modal" href="#" class="btn-custom btn-large"> Cadastre-se</a>
                </div>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->

</section>
<!-- #whats-app end -->


<!-- #about-us -->
<section id="about-us" class="wrap-container6020">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center">
          <h2>Conheça nossos PopStars</h2>
            <p>O time que vai fazer do seu negócio um sucesso!</p>
        </div>

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6"> <!-- 1 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/diniz.png" alt="Henrique-Diniz" />
                    <h4>Henrique Diniz</h4>
                    <p>Na verdade Diniz, formado em Engenharia de Produção
                    pela UFMG. Ligado em Inovação e métodos, mas sem deixar a criatividade,
                    o bom humor e  principalmente a família de lado.</p>
                </div>
            </div>

            <div class="col-sm-6"> <!-- 2 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/pedro.png" alt="Pedro-Charney" />
                    <h4>Pedro Charney</h4>
                    <p>Entusiasta de tecnologia, música e cinema. Vasta experiência em
                    consultoria e desenvolvimento comercial realizando
                    diversos projetos nas áreas de e-commerce, telecomunicações, varejo e logística.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6"> <!-- 3 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/nath.png" alt="Nathalia-Pais" />
                    <h4>Nathália Pais</h4>
                    <p>Formada em Direito pela PUC Minas. Atualmente cursa
                    Pós Graduação em Direito de Empresa pela PUC Minas.
                    Adora desafios viajar, inovação e tecnologia!</p>
                </div>
            </div>

            <div class="col-sm-6"> <!-- 4 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/jaque.png" alt="Jaqueline" />
                    <h4>Jaqueline Corradi</h4>
                    <p>Formada em jornalismo pela UFMG, conheceu o Marketing Digital
                    na faculdade e se apaixonou pela área. Nas horas vagas pode ser
                    encontrada no cinema mais próximo, como boa cinéfila que é.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6"> <!-- 5 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/ariana.png" alt="Ariana-Paz" />
                    <h4>Ariana Paz</h4>
                    <p>Formada em Design Gráfico na UEMG e atualmente cursando
                    Pós-graduação em Design de Interação na PUC Minas. Sempre
                    busca oportunidades de aprender e trocar experiências.</p>
                </div>
            </div>

            <div class="col-sm-6"> <!-- 6 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/serena.jpg" alt="Serena" />
                    <h4>Serena Fernandes</h4>
                    <p>Formada em Análise e Desenvolvimento de Sistemas pela Faculdade Cotemig.
                    Acredita que desenvolvimento de software é um super poder
                    capaz de transformar idéias em realidade.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

        <!-- .row -->
        <div class="row">

            <div class="col-sm-6"> <!-- 7 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/yasmine.png" alt="Yasmine" />
                    <h4>Yasmine Maciel</h4>
                    <p>Graduada em Design de Produto e especialista em Marketing
                    Estratégico pela Fumec. Leva a vida sempre com
                    um sorriso no rosto, otimismo e pronta para vencer desafios.</p>
                </div>
            </div>

            <div class="col-sm-6"> <!-- 8 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/joao.png" alt="Joao-Carvalho" />
                    <h4>João Carvalho</h4>
                    <p>Um designer que foca toda sua criatividade orientada a um mercado novo e emergente, buscando sempre soluções inovadoras e sustentáveis.</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-offset-3"> <!-- 9 -->
              <div class="affa_feature_icon">
                  <img src="/assets/content/about-us/daniel.png" alt="Daniel-Faiole" />
                    <h4>Daniel Faiole</h4>
                    <p>Formado em Sistemas de Informação pela Estácio de Sá.
                    Não tem dó de trabalhar pelo o que acredita e transformar idéias em realidade.</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</section>
<!-- #about-us end -->

<!-- #counter -->
<section id="stats" class="bg-grey wrap-container6020">

    <!-- .container -->
    <div class="container">

        <!-- .row -->
        <div class="row row-counter">

            <div class="col-sm-4"> <!-- 1 -->
                <div class="affa_counter_text">
                    <h4><%= @leads_count %></h4>
                    <p>Cadastrados</p>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 3 -->
                <div class="affa_counter_text">
                    <h4>9</h4>
                    <p>PopStars</p>
                </div>
            </div>

            <div class="col-sm-4"> <!-- 4 -->
                <div class="affa_counter_text">
                    <h4>3</h4>
                    <p>Produtos</p>
                </div>
            </div>

        </div>
        <!-- .row end -->

    </div>
    <!-- .container end -->

</section>
<!-- #counter end -->

<!-- #buynow -->
<section id="buynow" class="bg-image wrap-container80 text-center">

    <!-- .container -->
    <div class="container">

        <div class="post-heading-center margin-bottom30">
          <h2>Interessou?</h2>
        </div>
        <p class="margin-bottom50">Cadastre seu email e fique por dentro de nossas novidades.</p>
        <a data-target="#modal-signup" data-toggle="modal" href="#" class="btn-custom btn-large"> Cadastre-se</a>
    </div>
    <!-- .container end -->

</section>
<!-- #buynow -->
