<!-- #footer -->
<footer id="footer">

    <!-- .container -->
    <div class="container">

        <p class="copyright-text"><a href="http://www.popcontent.blog.br">PopContent</a></p>

        <div class="socials">
          <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a>
        </div>

    </div>
    <!-- .container end -->

</footer>
<!-- #footer end -->