<!-- #footer -->
<footer id="footer">

    <!-- .container -->
    <div class="container">

        <p class="copyright-text">&copy; 2016 by <a href="http://www.popcontent.blog.br">PopContent</a></p>

        <div class="socials">
          <a href="https://www.facebook.com/popcontentblog/" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/popcontent/" title="Instagram"><i class="fa fa-instagram"></i></a>
        </div>

    </div>
    <!-- .container end -->

</footer>
<!-- #footer end -->