<!-- #header -->
<header id="header">

    <!-- #navigation -->
    <nav id="navigation" class="navbar">

        <!-- .container -->
        <div class="container">

            <div class="navbar-brand">
                <%= link_to root_path do%>
                    <%= image_tag("pop-content-logo.png", :alt => "Logo") %>
                <% end %>
            </div>

            <ul class="nav navbar-nav">
                <li class="active"><a href="#header" class="smooth-scroll">Home</a></li>
                <li><a href="#e-book" class="smooth-scroll">E-book</a></li>
                <li><a href="#whats-app" class="smooth-scroll">Whats app</a></li>
                <li><a href="#features" class="smooth-scroll">Serviços</a></li>
                <li><%= link_to 'Blog', blog_path%></li>
            </ul>

        </div>
        <!-- .container end -->

    </nav>
    <!-- #navigation end -->

</header>
<!-- #header end -->
