<div class="modal fade" id='modal-signup'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><i class="fa fa-pencil"></i> Cadastre-se</h4>
        <p>
          Não perca tempo, se cadastre e fale com
          nossos consultores.
        </p>
      </div>
      <div class="modal-body">
        <form id="form-signup-modal" method="post" action="#">
          <div class="submit-status"></div> <!-- submit status -->
            <input type="text" name="lead[name]" id="lead_name" placeholder="Nome Completo" />
            <input type="text" name="lead[email]" id="lead_email" placeholder="E-mail *" />
            <input type="submit" name="submit" value="Cadastrar" class="btn-custom btn-medium" />
            <p class="text-desc"><a href="#">Política de Privacidade</a> &nbsp;-&nbsp; <a href="#">Termos & Condições</a></p>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
